# Firebase config for remote relay (Electron/Node side)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=woobury-ai.firebaseapp.com
FIREBASE_DATABASE_URL=https://woobury-ai-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=woobury-ai
FIREBASE_STORAGE_BUCKET=woobury-ai.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=824143171411
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=G-Q73W3SE08T
